/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: black;
  height: 3em;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.header a {
  font-size: 80%;
  letter-spacing: .75px;
  text-decoration: none;
  color: #989898;
  text-transform: uppercase;
  font-weight: bolder;
  padding-right: 2.5em;
  top: 25%;
  position: relative;
}

.header a:hover {
  color: white;
}

.container {
  text-align: center;
  margin-top: 5em;
}

.uppercase {
  text-transform: uppercase;
}

.back-button {
  background-color: black;
  width: 3em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
}

.back-button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 85%;
}

.accent-word {
  font-family: 'Playfair Display', serif;
  text-transform: none;
  font-style: italic;
  font-weight: lighter;
}

.accent-word-uppercase {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: lighter;
}

.form-box {
  border: 4px solid black;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding-bottom: 2em;
}

.form-box input {
  padding: 1em 1em;
  width: 15em;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 2em;
  margin-top: 2em;
  font-size: .75em;
}

.red {
  color: #9c0404;
}

.black-button {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.black-button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 85%;
}