<div class="container">

  <h1 class="uppercase">Categories</h1>

  <h5>
  <div class="category-container">
  <% @categories.each do |category| %>
    <section><%= link_to category.name, category_path(category) %></section>
  <% end %>
  </div>
  </h5>

</div>