<div class="container">

  <h1 class="uppercase">Films in this Category</h1>

<h5>
<div class="film-list">
<% @category_films.each do |film| %>
  <section><%= link_to film.title, film_path(film) %></section>
<% end %>
</div>
</h5>

<section class="back-button"><%= link_to 'Back', categories_path %></section>


</div>